PORT=5000
SUPABASE_URL=https://nykgbtslagosdoltir.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im55a2dic3RzbGFnb3Nkb2l0cmlyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjUwOTU1NSwiZXhwIjoyMDg4MDg1NTU1fQ.bXUhTYy2Wa9KB1YBBXP_bAbr4wg6uMcGXUcH__cbGRE
JWT_SECRET=3m0eUPF0/qYKATcPfC/2GEWxsbnic2Q8uQiK7GR/Gy88JWKvPhGeRj16Cnc+ulhm0DR+Tp141Y//OkvZgDRNZw==